:root {
  --cor-principal-lilas: #ee82ee;
  --cor-secundaria-roxa: #8a2be2;

  --rgba-secundaria-roxa9: rgba(138, 43, 226, 0.9);

  /* --cor-principal: #d8595a; */
  /* --cor-principal: #8e00a3; */
  /* --cor-principal: #8a2be2; */
  /* --cor-secundaria: #f6bb92; */

  --cor-branca-padrao: #fff;
  --cor-preta-padrao: #000;

  --cor-background-input: #f3f4f7;
  --cor-background-input-focus: rgba(240, 240, 240, 1);

  --border-radius-padrao: 10px;

  --rgba-black1: rgba(0, 0, 0, 0.1);
  --rgba-black2: rgba(0, 0, 0, 0.2);
  --rgba-black3: rgba(0, 0, 0, 0.3);
  --rgba-black4: rgba(0, 0, 0, 0.4);
  --rgba-black5: rgba(0, 0, 0, 0.5);
  --rgba-black6: rgba(0, 0, 0, 0.6);
  --rgba-black7: rgba(0, 0, 0, 0.7);
  --rgba-black8: rgba(0, 0, 0, 0.8);
  --rgba-black9: rgba(0, 0, 0, 0.9);
}
