.text-box {
  display: flex;
  padding-left: 40px;
  align-items: center;
}

.text-box .label-text-box {
  width: 250px;
}

.text-box .icon-text-box {
  right: 35px;
  position: relative;
  border-radius: 50%;
}
