@import url("../config/constants.css");

.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 10px 10px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  /* background: linear-gradient(to bottom, #d8c2c2, rgba(28, 28, 28, 0)); */
  background-color: var(--cor-principal-lilas);
  border-bottom: 1px solid var(--rgba-secundaria9);
}
